<% @ingredients = Ingredient.all %>
<div class="contained">
  <% @cocktails.each_with_index do |cocktail| %>

    <div class="card-cocktail">
      <%= link_to cocktail_path(cocktail) do %>

        <% if cocktail[:photo].nil?  %>
          <div class="cocktail-image" style="background-image: url(https://source.unsplash.com/1600x900/?cocktail,<%= @ingredients.sample.name.gsub(" ", "%20")  %>)">
            <h2><%= cocktail.name %></h2>
          </div>
        <% else %>
          <div class="cocktail-image" style="background-image: url('<%= cl_image_path cocktail.photo %>')">
            <h2><%= cocktail.name %></h2>
          </div>
        <% end %>
      <% end %>
    </div>

<!--       <div class="card-trip">
        <%= link_to cocktail_path(cocktail) do %>

          <% if cocktail[:photo].nil?  %>
            <img src="https://source.unsplash.com/1600x900/?cocktail,<%= @ingredients.sample.name  %>"/>
          <% else %>
            <%= cl_image_tag cocktail.photo %>
          <% end %>
        <% end %>

        <div class="card-trip-infos">
          <div>
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
        </div>

      </div> -->

  <% end %>
</div>
